<h3>希望編集</h3>
<%= form_with model:[week, job] do |f| %>
<table class="table table-bordered table-hover">
  <thead>
    <%= render "header-shift", week:week %>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <% if user == login_user %>
        <tr class="">
          <td><%= login_user.full_name %></td>
          <% (1..7).each do |n| %>
            <td><%= f.text_area :"time#{n}", value: login_user.job_for(jobs)&.public_send("time#{n}"), class: 'form-control' %></td>
          <% end %>
          <td><%= f.text_area :comment ,value: login_user.job_for(jobs)&.comment, class: 'form-control' %></td>
          <td><%= f.submit '更新', class: 'btn btn-primary' %></td>
        </tr>
      <% else %>
      <tr class="">
        <td><%= user.full_name %></td>
        <% (1..7).each do |n| %>
          <td><%= user.job_for(jobs)&.public_send("time#{n}") %></td>
        <% end %>
        <td><%= user.job_for(jobs)&.comment %></td>
        <td></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<% end %>