<% unless Job.exists?(week_id: week.id, user_id: login_user.id) %>
  <h3 class="text-accent">希望提出</h3>
  <%= form_with model:[week, job], url: week_jobs_path(week.id), method: :post, local: false do |f| %>
    <table class="table table-bordered">
      <thead>
        <%= render "header-form", week:week %>
      </thead>
      <tbody>
        <tr>
          <td class="table-lightblue">
            <%= render "public/jobs/user-name", user: login_user %>
          </td>
          <% (1..7).each do |n| %>
            <td><%= f.text_area :"time#{n}", class: 'form-control' %></td>
          <% end %>
          <td><%= f.text_area :comment ,class: 'form-control' %></td>
          <td><%= f.submit '提出', class: 'btn btn-primary' %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% end %>