<% if Job.exists?(week_id: week.id, user_id: login_user.id) %>
  <table class="table table-bordered">
    <thead>
      <%= render "public/jobs/header-form", week: week %>
    </thead>
    <tbody>
      <tr>
        <td class="table-lightblue sticky-col text-nowrap">
          <%= render "public/jobs/user-name", user: login_user %>
        </td>
        <% (1..7).each do |n| %>
          <td><%= login_user.job_for(jobs)&.public_send("time#{n}") %></td>
        <% end %>
        <td><%= login_user.job_for(jobs)&.comment %></td>
        <td class="text-nowrap">
          <%= button_to "編集", edit_week_job_path(week, login_user.job_for(jobs).id, format: :turbo_stream),
                method: :get,
                form: { data: { turbo: true }, class: 'd-inline'},
                class: 'btn btn-primary' %>

          <%= button_to "削除", week_job_path(week, login_user.job_for(jobs).id),
                method: :delete,
                form: { data: { turbo: true, turbo_confirm: '本当に削除しますか？' }, class: 'd-inline'},
                class: 'btn btn-danger' %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
