<%= turbo_stream.replace "week_index_#{@week.id}" do %>
  <div id="week_index_<%= @week.id %>">
    <h3 class="text-accent">希望編集</h3>
  </div>
<% end %>

<% if @setting.is_visible %>
  <%= turbo_stream.replace "week_content_#{@week.id}" do %>
    <div id="week_content_<%= @week.id %>">
      <%= render "public/jobs/edit-form", week: @week, jobs: @jobs, job: @job, users: @users, login_user: @user, setting: @setting %>
    </div>
  <% end %>

  <%= turbo_stream.remove "week_button_#{@week.id}" %>
<% else %>
  <%= turbo_stream.replace "week_private_#{@week.id}" do %>
    <div id="week_private_<%= @week.id %>">
      <%= render "public/jobs/edit-form", week: @week, jobs: @jobs, job: @job, login_user: @user, setting: @setting %>
    </div>
  <% end %>
<% end %>
