<h1>Public::Jobs#index</h1>
<p>Find me in app/views/public/jobs/index.html.erb</p>
<h3><%= (@week.monday).day %>日～<%= (@week.sunday).day %>日のシフト希望</h3>

<h3>希望提出</h3>
<%= form_with model:[@week, @job], url: week_jobs_path(@week.id), method: :post do |f| %>
  <table class="table table-bordered table-hover">
    <thead>
      <tr class="table-secondary">
        <th></th>
        <th class="<%= holiday_class(@week.monday) %>"><%= (@week.monday).month %>/<%= (@week.monday).day %></th>
        <th class="<%= holiday_class(@week.tuesday) %>"><%= (@week.tuesday).month %>/<%= (@week.tuesday).day %></th>
        <th class="<%= holiday_class(@week.wednesday) %>"><%= (@week.wednesday).month %>/<%= (@week.wednesday).day %></th>
        <th class="<%= holiday_class(@week.thursday) %>"><%= (@week.thursday).month %>/<%= (@week.thursday).day %></th>
        <th class="<%= holiday_class(@week.friday) %>"><%= (@week.friday).month %>/<%= (@week.friday).day %></th>
        <th class="<%= holiday_class(@week.saturday) || 'text-primary' %>"><%= (@week.saturday).month %>/<%= (@week.saturday).day %></th>
        <th class="text-danger"><%= (@week.sunday).month %>/<%= (@week.sunday).day %></th>
        <th>備考</th>
        <th></th>
      </tr>
      <tr class="table-secondary">
        <th></th>
        <th class="<%= holiday_class(@week.monday) %>">月</th>
        <th class="<%= holiday_class(@week.tuesday) %> fw-bold">火</th>
        <th class="<%= holiday_class(@week.wednesday) %> fw-bold">水</th>
        <th class="<%= holiday_class(@week.thursday) %> fw-bold">木</th>
        <th class="<%= holiday_class(@week.friday) %> fw-bold">金</th>
        <th class="<%= holiday_class(@week.saturday) || 'text-primary' %> fw-bold">土</th>
        <th class="text-danger fw-bold">日</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @user.full_name %></td>
        <td><%= f.text_area :time1 ,class: 'form-control' %></td>
        <td><%= f.text_area :time2 ,class: 'form-control' %></td>
        <td><%= f.text_area :time3 ,class: 'form-control' %></td>
        <td><%= f.text_area :time4 ,class: 'form-control' %></td>
        <td><%= f.text_area :time5 ,class: 'form-control' %></td>
        <td><%= f.text_area :time6 ,class: 'form-control' %></td>
        <td><%= f.text_area :time7 ,class: 'form-control' %></td>
        <td><%= f.text_area :comment ,class: 'form-control' %></td>
        <td><%= f.submit '提出', class: 'btn btn-primary' %></td>
      </tr>
    </tbody>
<% end %>

<h3>希望一覧</h3>
<table class="table table-bordered table-hover">
  <thead>
    <tr class="table-secondary">
      <th></th>
      <th class="<%= holiday_class(@week.monday) %>"><%= (@week.monday).month %>/<%= (@week.monday).day %></th>
      <th class="<%= holiday_class(@week.tuesday) %>"><%= (@week.tuesday).month %>/<%= (@week.tuesday).day %></th>
      <th class="<%= holiday_class(@week.wednesday) %>"><%= (@week.wednesday).month %>/<%= (@week.wednesday).day %></th>
      <th class="<%= holiday_class(@week.thursday) %>"><%= (@week.thursday).month %>/<%= (@week.thursday).day %></th>
      <th class="<%= holiday_class(@week.friday) %>"><%= (@week.friday).month %>/<%= (@week.friday).day %></th>
      <th class="<%= holiday_class(@week.saturday) || 'text-primary' %>"><%= (@week.saturday).month %>/<%= (@week.saturday).day %></th>
      <th class="text-danger"><%= (@week.sunday).month %>/<%= (@week.sunday).day %></th>
      <th>備考</th>
      <th></th>
    </tr>
    <tr class="table-secondary">
      <th></th>
      <th class="<%= holiday_class(@week.monday) %>">月</th>
      <th class="<%= holiday_class(@week.tuesday) %> fw-bold">火</th>
      <th class="<%= holiday_class(@week.wednesday) %> fw-bold">水</th>
      <th class="<%= holiday_class(@week.thursday) %> fw-bold">木</th>
      <th class="<%= holiday_class(@week.friday) %> fw-bold">金</th>
      <th class="<%= holiday_class(@week.saturday) || 'text-primary' %> fw-bold">土</th>
      <th class="text-danger fw-bold">日</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr class="">
      <td><%= user.full_name %></td>
      <td><%= user.jobs.first.time1 %></td>
      <td><%= user.jobs.first.time2 %></td>
      <td><%= user.jobs.first.time3 %></td>
      <td><%= user.jobs.first.time4 %></td>
      <td><%= user.jobs.first.time5 %></td>
      <td><%= user.jobs.first.time6 %></td>
      <td><%= user.jobs.first.time7 %></td>
      <td><%= user.jobs.first.comment %></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>
