<%= turbo_stream_from "weeks" %>

<h3 class="text-accent"><%= (@week.monday).day %>日～<%= (@week.sunday).day %>日のシフト希望</h3>

<hr>

<div id="week_form_<%= @week.id %>_user_<%= @user.id %>">
  <%= render "public/jobs/new-form", week: @week, job: @job, login_user: @user %>
</div>

<div id ="week_index_<%= @week.id %>">
  <% if @setting.is_visible || Job.exists?(week_id: @week.id, user_id: @user.id)%>
    <h3 class="text-accent">希望一覧</h3>
  <% end %>
</div>

<div class="tables-grid table-responsive">
  <% if @setting.is_visible %>
    <div id="week_content_<%= @week.id %>">
      <%= render "public/jobs/public-shift", week: @week, users: @users, jobs: @jobs %>
    </div>

    <div id="week_unhide-button_<%= @week.id %>">
      <div id="week_button_<%= @week.id %>">
        <%= render "public/jobs/button", week: @week, users: @users, jobs: @jobs, login_user: @user %>
      </div>
    </div>
  <% else %>
    <div id="week_private_<%= @week.id %>">
      <%= render "public/jobs/private-shift", week: @week, users: @users, jobs: @jobs, login_user: @user %>
    </div>
  <% end %>
</div>
