<%= turbo_stream.replace "week_title_#{@week.id}" do %>
  <div id="week_title_<%= @week.id %>">
    <h3>希望一覧</h3>
  </div>
<% end %>

<% if @week.is_invisible %>
  <%= turbo_stream.replace "week_content_#{@week.id}" do %>
      <%= render "public/jobs/public-shift", week: @week, users: @users, jobs: @jobs %>
  <% end %>

  <%= turbo_stream.replace "week_unhide-button_#{@week.id}" do %>
    <div id="week_unhide-button_<%= @week.id %>">
      <div id="week_button_<%= @week.id %>">
        <%= render "public/jobs/button", week: @week, users: @users, jobs: @jobs, login_user: @user %>
      </div>
    </div>
  <% end %>
<% else %>
  <%= turbo_stream.replace "week_private_#{@week.id}" do %>
    <div id="week_private_<%= @week.id %>">
      <%= render "public/jobs/private-shift", week: @week, jobs: @jobs, job: @job, login_user: @user %>
    </div>
  <% end %>
<% end %>
