<h3><%= (@week.monday).day %>日～<%= (@week.sunday).day %>日のシフト希望</h3>

<p>ログインユーザがこの週出したか：<%= Job.exists?(week_id: @week.id, user_id: @user.id) %></p>
<hr>


<div id="week_toggle_<%= @week.id %>">
  <%= render "public/jobs/switch", week: @week %>
</div>
<hr>

<% unless Job.exists?(week_id: @week.id, user_id: @user.id) %>
  <h3>希望提出</h3>
  <%= form_with model:[@week, @job], url: week_jobs_path(@week.id), method: :post do |f| %>
    <table class="table table-bordered table-hover">
      <thead>
        <%= render "header-shift", week:@week %>
      </thead>
      <tbody>
        <tr>
          <td><%= @user.full_name %></td>
          <% (1..7).each do |n| %>
            <td><%= f.text_area :"time#{n}", class: 'form-control' %></td>
          <% end %>
          <td><%= f.text_area :comment ,class: 'form-control' %></td>
          <td><%= f.submit '提出', class: 'btn btn-primary' %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% end %>

<div id="week_content_<%= @week.id %>">
  <%= render "public/jobs/table", week: @week, users: @users, jobs: @jobs, login_user: @user %>
</div>

