<% if flash[:alert] %>
  <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
    <%= flash[:alert] %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<% if @setting.is_visible %>
  <%= render "public/jobs/public-shift", week: @week, users: @users, jobs: @jobs %>
<% else %>
  <h3>希望一覧</h3>
  <table class="table table-bordered">
    <thead>
      <%= render "public/jobs/header-shift", week: @week %>
    </thead>
    <tbody>
      <tr>
        <td class="table-secondary"><%= @user.full_name %></td>
        <% (1..7).each do |n| %>
          <td><%= @user.job_for(@jobs)&.public_send("time#{n}") %></td>
        <% end %>
        <td><%= @user.job_for(@jobs)&.comment %></td>
      </tr>
    </tbody>
  </table>
<% end %>
