<h3 class="text-accent"><%= (@week.monday).day %>日～<%= (@week.sunday).day %>日のシフト希望</h3>

<% if flash[:alert] %>
  <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
    <%= flash[:alert] %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<hr>

<%= link_to weeks_past_path, class: "pink-btn-link d-inline-flex align-items-center mb-3 gap-2" do %>
  <span class="material-symbols-outlined">
    arrow_back_ios_new
  </span>
  戻る
<% end %>

<div class="tables-grid table-responsive table-scroll-vertical">
  <% if @setting.is_visible %>
    <%= render "public/jobs/public-shift", week: @week, users: @users, jobs: @jobs %>
  <% else %>
    <table class="table table-bordered">
      <thead>
        <%= render "public/jobs/header-shift", week: @week %>
      </thead>
      <tbody>
        <tr>
          <td class="table-lightblue">
            <%= render "public/jobs/user-name", user: @user %>
          </td>
          <% (1..7).each do |n| %>
            <td><%= @user.job_for(@jobs)&.public_send("time#{n}") %></td>
          <% end %>
          <td><%= @user.job_for(@jobs)&.comment %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
