<h1 class="mb-4 fw-bold text-accent">従業員一覧</h1>

<%= search_form_for @q, url: admin_users_path, method: :get do |f| %>
  <%= f.label :last_name_or_middle_name_or_first_name_cont, 'ユーザー名' %>
  <%= f.search_field :last_name_or_middle_name_or_first_name_cont,
        class: "form-control w-auto d-inline-block" %>

  <%= f.label :status_eq, 'ステータス' %>
  <%= f.select :status_eq,
        [
          ["すべて", ""],
          ["研修中", 0],
          ["レギュラー", 1],
          ["休職中", 2],
          ["退職", 3]
        ],
        { include_blank: false },
        class: "form-select form-select-sm w-auto d-inline-block" %>

  <%= f.submit '検索', class: "btn btn-primary btn-sm" %>
  <%= link_to "リセット", admin_users_path, class: "btn btn-outline-secondary btn-sm" %>
<% end %>


<% @users.each do |user| %>
  <div class="row mb-2 py-1" style="border-bottom: 1px solid #ddd;">
    <div class="col-12 col-md">
      <div class="row fw-semibold fs-5 ms-1"><%= user.full_name %></div>
      <div class="row fw-light ms-1">入職日：<%= user.created_at.strftime('%Y年%-m月') %></div>
    </div>
    <div class="col-12 col-md d-flex justify-content-end align-items-center">
      <%= form_with model: user, url: admin_user_path(user), method: :patch, local: true, class: "m-0" do |f| %>
        <%= f.select :status,
          [
            ["研修中", "beginner"],
            ["レギュラー", "active"],
            ["休職中", "inactive"],
            ["退職", "retired"]
          ],
          {},
          class: "form-select form-select-sm w-auto no-focus-style",
          onchange: "this.form.requestSubmit()" %>
      <% end %>
      <%= render "badge", user: user %>
    </div>
  </div>
<% end %>
