<h2 class="text-accent">
  <span class="material-symbols-outlined fs-5">calendar_month</span>
  日程一覧
</h2>

<div class="d-flex align-items-center user-info-box my-4 pt-3 ps-3 rounded">
  <p class="text-muted">ログイン中のユーザ：</p>
  <p class="fw-bold text-accent"><%= @admin %></p>
</div>

<hr>
<div id="setting-visible">
  <%= render "admin/settings/switch", setting: @setting %>
</div>
<hr>

<% if flash[:notice] %>
  <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
    <%= flash[:notice] %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<div id="week_errors">
  <% if @week.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
      <% @week.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
</div>


<h3 class="text-accent">新規作成</h3>
<div class="card-body" id="week_form">
  <%= render "form", week: @week %>
</div>

<hr class="mb-4">

<%= link_to "過去のシフト", admin_weeks_past_path, class: "pink-btn-link" %>

<h3 class="calendar-title-line text-center">
  <span id="calendar-title"><%= @start_date.strftime('%-m月') %></span>
</h3>
<div id="calendar-container" data-controller="calendar" data-earliest-date="<%= @earliest_date.to_date %>" class="calendar-grid box theme-dark">
  <div class="calendar-grid header public-calendar">
    <div class="week-day">月</div>
    <div class="week-day">火</div>
    <div class="week-day">水</div>
    <div class="week-day">木</div>
    <div class="week-day">金</div>
    <div class="week-day text-primary">土</div>
    <div class="week-day text-danger">日</div>
  </div>
  <!-- カレンダー本体 -->
  <div class="calendar-grid body">
    <% @calendar_rows.each do |date, week| %>
        <% if week %>
        <div class="week-row public-calendar">
          <%= link_to admin_week_jobs_path(week_id: week.id), class:"week-link" do %>
            <% [:monday, :tuesday, :wednesday, :thursday, :friday, :saturday, :sunday].each do |day| %>
              <% d = week.send(day).to_date %>
              <div class=
                "date 
                <%= holiday_class(d) %>
                <%= d.month.odd? ? 'odd-month' : 'even-month' %> 
                <%= 'today' if d == @today %>"
                data-month="<%= d.month %>"
                data-date="<%= d %>"
              >
                <span class="date-label"><%= d.day %></span>
              </div>
            <% end %>
          <% end %>
        </div>
        <% elsif date.monday <= Date.today + 7 %>
        <div class="week-row-3 public-calendar">
          <% (0..6).each do |day| %>
            <% d = (date + day).to_date %>
            <div class=
              "date 
              <%= holiday_class(d) %> 
              <%= d.month.odd? ? 'odd-month' : 'even-month' %> 
              <%= 'today' if d == @today %> "
              data-month="<%= d.month %>" 
              data-date="<%= d %>"
            >
              <span class="date-label">
                <% if d.month == @start_date.month %>
                  <%= d.day %>
                <% else %>
                  <%= "#{d.month}/#{d.day}" %>
                <% end %>
              </span>
            </div>
          <% end %>
        </div>
        <% else %>
        <div class="week-row-2 public-calendar">
          <% (0..6).each do |day| %>
            <% d = (date + day).to_date %>
            <div class=
              "date 
              <%= holiday_class(d) %> 
              <%= d.month.odd? ? 'odd-month' : 'even-month' %> 
              <%= 'today' if d == @today %> "
              data-month="<%= d.month %>" 
              data-date="<%= d %>"
            >
              <span class="date-label">
                <% if d.month == @start_date.month %>
                  <%= d.day %>
                <% else %>
                  <%= "#{d.month}/#{d.day}" %>
                <% end %>
              </span>
            </div>
          <% end %>
        </div>
        <% end %>
    <% end %>
  </div>
</div>
